<style>
    #exusername {
        width: 75vh;
        border-radius: 5%;
    }
    #exPassword {
        width: 75vh;
        border-radius: 5%;
    }
</style>
<h1>Login</h1>
<form id="loginForm">
    <input type="text"  id="exuserName" placeholder="username">
    <input type="password"  id="exPassword" placeholder="password">
    <hr>
    <button class="btn btn-primary" id="loginBtn">Login!</button>
</form>
<script src="/js/login.js"></script>